@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DataAccess.Models.Note
<div class="form-control">
<form asp-action="Delete">
    <input asp-for="@Model.Id" hidden/>
    <label asp-for="@Model.Title" class="fw-bold" >Title</label>
        <input asp-for="@Model.Title" class="form-control" disabled />
    <label asp-for="@Model.Title" class="fw-bold">Description</label>
        <input asp-for="@Model.Description" class="form-control" disabled />
    <button class="btn btn-primary">Submit</button>
</form>
</div>