@using TodoApp.Helpers;
@using DataAccess;
@model PaginatedList<Note>;

<div class="container">
    <div class="float-lg-start">
        <form class="form-control"  method="post">
            <input type="text" name="name"/>
            <button type="submit" class="btn btn-primary" asp-action="SearchByTitle">Search by title</button>
            <button type="submit" class="btn btn-primary" asp-action="SearchByDescription">Search by description</button>
        </form>  
    </div>
    <div class="float-end">
        <a asp-action="Create" class="btn btn-dark">Create new note</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Commands</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var note in Model)
            {
                <tr>
                    <td>@note.Id</td>
                    <td>@note.Title</td>
                    <td>@note.Description</td>
                    <td>
                        <a asp-route-id="@note.Id" asp-action="Edit" class="btn btn-dark">Edit</a>
                        <a asp-route-id="@note.Id" asp-action="Delete" class="btn btn-dark">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a class="float-end" asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex + 1)">
            Next
        </a>
        <a class="float-end mx-1" asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex - 1)">
            Previous
        </a>
    </div>
</div>
